In [4]:
import pandas as pd

In [6]:
temperature = [30, 31, 29, 32, 33, 34, 28, 27, 25, 35]
humidity = [80, 75, 70, 85, 90, 80, 75, 60, 65, 70]
wind_speed = [5, 6, 7, 8, 9, 4, 10, 5, 6, 7]

In [7]:
date_rng = pd.date_range(start='2021-01-01', end='2021-01-10', freq='D')

weather_data = pd.DataFrame({
    'Date': date_rng,
    'Temperature': temperature,
    'Humidity': humidity,
    'Wind Speed': wind_speed
})

weather_data

        Date  Temperature  Humidity  Wind Speed
0 2021-01-01           30        80           5
1 2021-01-02           31        75           6
2 2021-01-03           29        70           7
3 2021-01-04           32        85           8
4 2021-01-05           33        90           9
5 2021-01-06           34        80           4
6 2021-01-07           28        75          10
7 2021-01-08           27        60           5
8 2021-01-09           25        65           6
9 2021-01-10           35        70           7

In [9]:
freq = pd.infer_freq(weather_data['Date'])
print(f'The frequency of the dataset is {freq}.')

The frequency of the dataset is D.

In [12]:
weather_data.set_index('Date', drop=True, inplace=True)
weather_data

            Temperature  Humidity  Wind Speed
Date
2021-01-01           30        80           5
2021-01-02           31        75           6
2021-01-03           29        70           7
2021-01-04           32        85           8
2021-01-05           33        90           9
2021-01-06           34        80           4
2021-01-07           28        75          10
2021-01-08           27        60           5
2021-01-09           25        65           6
2021-01-10           35        70           7